#### Paleo Analysis and Parsing of the Paleontological Database
Data extracted from [The Paleobiology Database](https://paleobiodb.org/data1.2/occs/taxa.txt?datainfo&rowcount&base_name=dinosauria&rank=max_genus&taxon_status=accepted&max_ma=252&min_ma=65&show=attr,size,class&limit=100)

In [2]:
# library imports
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as mpl

In [3]:
df = pd.read_csv('dinosauria.csv').drop(columns=['record_type', 'taxon_no', 'taxon_name', 'taxon_rank', 'accepted_no', 'flags', 'difference', 'parent_no', 'container_no', 'is_extant', 'extant_size', 'phylum', 'type_taxon'])
df.set_axis = (['ID', 'Taxon Attr', 'Rank', 'Accepted Name', 'Reference Number', 'Number of Occurrences', 'Taxon Size', 'Class', 'Order', 'Family', 'Genus'], axis=1)
df

,ID,Taxon Attr,Rank,Accepted Name,Reference Number,Number of Occurrences,Taxon Size,Class,Order,Family,Genus
0,167126,Osi et al. 2010,genus,Ajkaceratops,32660,2,2,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Ajkaceratops
1,167127,Osi et al. 2010,species,Ajkaceratops kozmai,32660,1,1,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Ajkaceratops
2,67677,Nessov et al. 1989,genus,Turanoceratops,14447,12,2,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Turanoceratops
3,67678,Nessov et al. 1989,species,Turanoceratops tardabilis,14447,6,1,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Turanoceratops
4,66590,Wolfe and Kirkland 1998,genus,Zuniceratops,13881,6,2,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Zuniceratops
...,...,...,...,...,...,...,...,...,...,...,...
3735,142971,Matsukawa et al. 1997,genus,Toyamasauripus,29368,4,2,Reptilia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Toyamasauripus
3736,142972,Matsukawa et al. 1997,species,Toyamasauripus masuiae,29368,2,1,Reptilia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Toyamasauripus
3737,156000,Hitchcock 1848,genus,Xiphopeza,30909,6,2,Reptilia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Xiphopeza
3738,156001,Hitchcock 1848,species,Xiphopeza triplex,30909,3,1,Reptilia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Xiphopeza
3739,91057,Chen and Huang 1993,species,Yunnanpus huangcaoensis,19449,1,1,Reptilia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED,Yunnanpus