#### Paleo Analysis and Parsing of the Paleontological Database
Data extracted from [The Paleobiology Database](http://paleobiodb.org/data1.2/occs/list.csv?datainfo&rowcount&base_name=Dinosauria&max_ma=252&min_ma=65)

In [2]:
# library imports
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as mpl

In [5]:
df = pd.read_csv('dinosauria.csv')
print(df)

      orig_no  taxon_no record_type flags taxon_rank  \
0      167126  167126.0         txn   NaN      genus
1      167127  167127.0         txn   NaN    species
2       67677   67677.0         txn   NaN      genus
3       67678   67678.0         txn   NaN    species
4       66590   66590.0         txn   NaN      genus
...       ...       ...         ...   ...        ...
3736   142971  142971.0         txn     I      genus
3737   142972  142972.0         txn     I    species
3738   156000  156000.0         txn    IF      genus
3739   156001  156001.0         txn    IF    species
3740    91057   91057.0         txn     I    species

                     taxon_name               taxon_attr  difference  \
0                  Ajkaceratops          Osi et al. 2010         NaN
1           Ajkaceratops kozmai          Osi et al. 2010         NaN
2                Turanoceratops       Nessov et al. 1989         NaN
3     Turanoceratops tardabilis       Nessov et al. 1989         NaN
4                  Zuniceratops  Wolfe and Kirkland 1998         NaN
...                         ...                      ...         ...
3736             Toyamasauripus    Matsukawa et al. 1997         NaN
3737     Toyamasauripus masuiae    Matsukawa et al. 1997         NaN
3738                  Xiphopeza           Hitchcock 1848         NaN
3739          Xiphopeza triplex           Hitchcock 1848         NaN
3740    Yunnanpus huangcaoensis      Chen and Huang 1993         NaN

      accepted_no accepted_rank  ... is_extant  n_occs taxon_size  \
0        167126.0         genus  ...   extinct       2        2.0
1        167127.0       species  ...   extinct       1        1.0
2         67677.0         genus  ...   extinct      12        2.0
3         67678.0       species  ...   extinct       6        1.0
4         66590.0         genus  ...   extinct       6        2.0
...           ...           ...  ...       ...     ...        ...
3736     142971.0         genus  ...   extinct       4        2.0
3737     142972.0       species  ...   extinct       2        1.0
3738     156000.0         genus  ...   extinct       6        2.0
3739     156001.0       species  ...   extinct       3        1.0
3740      91057.0       species  ...   extinct       1        1.0

      extant_size    phylum         class               order  \
0             0.0  Chordata  Ornithischia  NO_ORDER_SPECIFIED
1             0.0  Chordata  Ornithischia  NO_ORDER_SPECIFIED
2             0.0  Chordata  Ornithischia  NO_ORDER_SPECIFIED
3             0.0  Chordata  Ornithischia  NO_ORDER_SPECIFIED
4             0.0  Chordata  Ornithischia  NO_ORDER_SPECIFIED
...           ...       ...           ...                 ...
3736          0.0  Chordata      Reptilia  NO_ORDER_SPECIFIED
3737          0.0  Chordata      Reptilia  NO_ORDER_SPECIFIED
3738          0.0  Chordata      Reptilia  NO_ORDER_SPECIFIED
3739          0.0  Chordata      Reptilia  NO_ORDER_SPECIFIED
3740          0.0  Chordata      Reptilia  NO_ORDER_SPECIFIED

                   family           genus              type_taxon
0     NO_FAMILY_SPECIFIED    Ajkaceratops                     NaN
1     NO_FAMILY_SPECIFIED    Ajkaceratops                     NaN
2     NO_FAMILY_SPECIFIED  Turanoceratops                     NaN
3     NO_FAMILY_SPECIFIED  Turanoceratops                     NaN
4     NO_FAMILY_SPECIFIED    Zuniceratops                     NaN
...                   ...             ...                     ...
3736  NO_FAMILY_SPECIFIED  Toyamasauripus  Toyamasauripus masuiae
3737  NO_FAMILY_SPECIFIED  Toyamasauripus                     NaN
3738  NO_FAMILY_SPECIFIED       Xiphopeza       Xiphopeza triplex
3739  NO_FAMILY_SPECIFIED       Xiphopeza                     NaN
3740  NO_FAMILY_SPECIFIED       Yunnanpus                     NaN

[3741 rows x 24 columns]