#### Paleo Analysis and Parsing of the Paleontological Database
Data extracted from *The Paleobiology Database*

In [21]:
# library imports
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as mpl
import requests as rq
import io

In [ ]:
# Reading data from a CSV file saved locally
df = pd.read_csv('dinosauria.csv').drop(columns=['record_type', 'taxon_no', 'taxon_name', 'taxon_rank', 'accepted_no', 'flags', 'difference', 'parent_no', 'container_no', 'is_extant', 'extant_size', 'phylum', 'type_taxon'])
df.columns = ['ID', 'Taxon Attr', 'Rank', 'Accepted Name', 'Reference Number', 'Number of Occurrences', 'Taxon Size', 'Class', 'Order', 'Family', 'Genus']
df.head()

In [40]:
# Scraping data from the Paleobiology Database
url = rq.get('https://paleobiodb.org/data1.2/occs/taxa.csv?base_name=dinosauria&rank=max_genus&taxon_status=accepted&max_ma=252&min_ma=65&show=app,size,class').content
dinoFrame = pd.read_csv(io.StringIO(url.decode('utf-8'))).drop(columns=['extant_size', 'orig_no', 'taxon_no', 'parent_no', 'record_type', 'flags', 'difference', 'accepted_no', 'accepted_rank', 'accepted_name', 'container_no', 'reference_no', 'is_extant', 'phylum', 'genus', 'type_taxon'])

dinoFrame.columns = ['Rank', 'Name', 'Number of Occurrences', 'First Appearance MYA (Max)', 'First Appearance MYA (Min)', 'Last Appearance MYA (Max)', 'Last Appearance MYA (Min)', 'Early Interval', 'Late Interval', 'Taxon Size', 'Class', 'Order', 'Family']
dinoFrame.head()

,Rank,Name,Number of Occurrences,First Appearance MYA (Max),First Appearance MYA (Min),Last Appearance MYA (Max),Last Appearance MYA (Min),Early Interval,Late Interval,Taxon Size,Class,Order,Family
0,genus,Ajkaceratops,2,86.3,83.6,86.3,83.6,Santonian,NaN,2.0,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED
1,species,Ajkaceratops kozmai,1,86.3,83.6,86.3,83.6,Santonian,NaN,1.0,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED
2,genus,Turanoceratops,12,93.9,89.8,93.9,89.8,Turonian,NaN,2.0,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED
3,species,Turanoceratops tardabilis,6,93.9,89.8,93.9,89.8,Turonian,NaN,1.0,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED
4,genus,Zuniceratops,6,93.9,89.8,93.9,89.8,Turonian,NaN,2.0,Ornithischia,NO_ORDER_SPECIFIED,NO_FAMILY_SPECIFIED